.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.node {
  border: 3px solid rgb(160, 160, 160);
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.handle {
  width: 10px;
  height: 15px;
  border-radius: 3px;
}

.sourceHandle {
  background-color: #38d991;
}

.targetHandle {
  background-color: #2a9666;
}

.node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.react-flow__handle-bottom {
  background-color: green;
  width: 15px;
  height: 10px;
  border-radius: 3px;
}

.edgeNotation:hover::after {
  content: attr(data-title);
  position: absolute;
  background: #fff;
  font-size: 11px;
  padding: 2px 4px;
  margin: 5px 5px;
  border: 1px solid #eee;
  border-radius: 0px 8px 8px 8px;
  color: #777;
}

.updatenode__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.updatenode__controls label {
  display: block;
}

.updatenode__bglabel {
  margin-top: 10px;
}

.updatenode__checkboxwrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.save__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.save__controls button {
  margin-left: 5px;
}
